<!-- filepath: /home/mohanad/Projects/MNE Projects/MNE/Discount_Card/templates/network.html -->
{% extends "layout.html" %}

{% block title %}
    Medical Network
{% endblock %}

{% block main %}
    <form id="network_search">
        {% csrf_token %}
        <div class="container" id="filter-container">
            <div class="row justify-content-center mt-2">
                <div class="col-8 position-relative">
                    <div class="dropdown" id="network_search_bar">
                        <input autocomplete="off" class="form-control form-control-sm dropdown-toggle" name="provider_name" id="provider_name" type="search" placeholder="Search for Provider Name" aria-label="Search" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div id="autocomplete-results" class="autocomplete-dropdown" aria-labelledby="provider_name">
                            <!-- Autocomplete results will be appended here -->
                        </div>
                        <small id="wrongname" style="color: red; display: none;">Provider does not exist</small>
                    </div>
                </div>
                <div class="col-1">
                    <button class="btn btn-success btn-sm me-2" type="button" id="search_button">Search</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="dropdown">
                        <select class="form-select form-select-sm" id="governate" aria-label="Select Governate">
                            <option value="" selected disabled hidden>Governate</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="dropdown">
                        <select class="form-select form-select-sm" id="area" aria-label="Select Area">
                            <option value="" selected disabled hidden>Area</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="dropdown">
                        <select class="form-select form-select-sm" id="type" aria-label="Select Provider Type">
                            <option value="" selected disabled hidden>Provider Type</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="dropdown">
                        <select class="form-select form-select-sm" id="speciality" aria-label="Select Speciality">
                            <option value="" selected disabled hidden>Speciality</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2 justify-content-center">
                    <div class="col text-center">
                        <button class="btn btn-success btn-sm me-2" type="button" id="filter_button">Filter</button>
                        <button class="btn btn-light btn-sm" type="button" id="clear_filter">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="container-fluid mt-4" id="map-container" style="height: calc(100vh - 300px);">
        <div id="map" style="height: 100%;" aria-label="Interactive map for location selection"></div>
    </div>
    <div id="no-results-message" style="color: red; display: none;">No providers of this type in the selected area/governorate.</div>

    <script>
        let markers = []; // Array to hold the markers

        // Initialize map
        var map = L.map('map').setView([30.04732179, 31.24499314], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        document.addEventListener('DOMContentLoaded', function() {
            // Fetch initial filter data
            fetchFilters().then(data => {
                populateFilters(data);
            });

            // Governate change event
            document.getElementById('governate').addEventListener('change', function() {
                updateAreas();
            });

            // Filter button event
            document.getElementById('filter_button').addEventListener('click', async function() {
                const filters = getFilters();
                const results = await fetchFilteredResults(filters);
                if (results.length === 0) {
                    document.getElementById('no-results-message').style.display = 'block';
                } else {
                    document.getElementById('no-results-message').style.display = 'none';
                    updateMap(results);
                }
            });

            // Clear filters button event
            document.getElementById('clear_filter').addEventListener('click', function() {
                location.reload();
            });

            // Provider name input event for autocomplete
            document.getElementById('provider_name').addEventListener('input', async function() {
                const query = this.value;
                if (query.length > 2) {
                    const results = await fetchProviders(query);
                    showAutocompleteResults(results);
                }
            });

            // Search button event
            document.getElementById('search_button').addEventListener('click', async function() {
                const query = document.getElementById('provider_name').value;
                const results = await fetchProviders(query);
                updateMap(results);
            });

            function showAutocompleteResults(results) {
                const autocompleteResults = document.getElementById('autocomplete-results');
                autocompleteResults.innerHTML = '';

                // Track unique provider names
                const uniqueProviders = [];
                const providerNames = new Set();

                // Filter results to show only unique provider names
            results.forEach(result => {
                if (!providerNames.has(result.provider_name)) {
                    providerNames.add(result.provider_name);
                    uniqueProviders.push(result);
                }
            });

            if (uniqueProviders.length > 0) {
                autocompleteResults.style.display = 'block';
                uniqueProviders.forEach(result => {
                    const div = document.createElement('div');
                    div.textContent = result.provider_name;
                    div.classList.add('autocomplete-item');
                    div.addEventListener('click', () => {
                        document.getElementById('provider_name').value = result.provider_name;
                        autocompleteResults.innerHTML = '';
                        autocompleteResults.style.display = 'none';
                    });
                    autocompleteResults.appendChild(div);
                });
            } else {
            autocompleteResults.style.display = 'none';
            }
        }
    });

        async function fetchProviders(query) {
            const response = await fetch("{% url 'Discount_Card:fetch_providers' %}?query=" + query);
            const data = await response.json();
            return data;
        }

        async function fetchFilters() {
            const response = await fetch("{% url 'Discount_Card:fetch_filters' %}");
            const data = await response.json();
            return data;
        }

        async function fetchFilteredResults(filters) {
            const response = await fetch("{% url 'Discount_Card:fetch_filtered_results' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: JSON.stringify(filters)
            });
            const data = await response.json();
            return data;
        }

        function updateMap(locations) {
            markers.forEach(marker => map.removeLayer(marker));
            markers = []; // Clear the marker array

            locations.forEach(location => {
                const marker = L.marker([location.latitude, location.longitude]).addTo(map)
                    .bindPopup(`<b>${location.provider_name}</b><br>${location.address}<br>${location.phone_number}`);
                markers.push(marker); // Store the marker if you want to clear them later
            });

            if (locations.length > 0) {
                map.setView([locations[0].latitude, locations[0].longitude], 13);
            }
        }

        function populateFilters(data) {
            const governateSelect = document.getElementById('governate');
            data.governates.forEach(governate => {
                const option = document.createElement('option');
                option.value = governate;
                option.textContent = governate;
                governateSelect.appendChild(option);
            });

            const areaSelect = document.getElementById('area');
            data.areas.forEach(area => {
                const option = document.createElement('option');
                option.value = area.area;
                option.textContent = area.area;
                option.dataset.governate = area.governorate;
                areaSelect.appendChild(option);
            });

            const typeSelect = document.getElementById('type');
            data.provider_types.forEach(type => {
                const option = document.createElement('option');
                option.value = type;
                option.textContent = type;
                typeSelect.appendChild(option);
            });

            const specialitySelect = document.getElementById('speciality');
            data.specialties.forEach(speciality => {
                const option = document.createElement('option');
                option.value = speciality;
                option.textContent = speciality;
                specialitySelect.appendChild(option);
            });
        }

        function updateAreas() {
            const selectedGovernate = document.getElementById('governate').value;
            const areaSelect = document.getElementById('area');
            const allAreaOptions = Array.from(document.querySelectorAll('option[data-governate]'));

            // Reset area
            areaSelect.innerHTML = '<option value="" selected disabled hidden>Area</option>';

            // Filter area based on selected governate
            let hasMatch = false;
            allAreaOptions.forEach(option => {
                const governateValue = option.getAttribute('data-governate');
                if (governateValue === selectedGovernate) {
                    areaSelect.appendChild(option.cloneNode(true));
                    hasMatch = true;
                }
            });
            if (!hasMatch) {
                areaSelect.innerHTML = '<option value="" selected disabled>No Areas Available</option>';
            }
            areaSelect.disabled = false;
        }

        function getFilters() {
            return {
                governate: document.getElementById('governate').value,
                area: document.getElementById('area').value,
                provider_type: document.getElementById('type').value,
                speciality: document.getElementById('speciality').value
            };
        }
    </script>
{% endblock %}